body{
  margin:0
}
.header{
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}
.menu{
  margin:0;
  padding:0;
  text-align: right;
  background-color: blueviolet;
  line-height:40px;

}
.menu li{
  display:inline;
  margin-right: 15px;
  letter-spacing: 5px;
  text-decoration: none;
  font-weight: bold;
  list-style: none;
}
.footer{
  position: fixed;
  bottom:0;
  width:100%

}