body{
  margin:0
}
.header{
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}
.menu{
  margin:0;
  padding:0;
  text-align: right;
  background-color: blueviolet;
  line-height:40px;

}
.menu li{
  display:inline;
  margin-right: 15px;
  letter-spacing: 5px;
  text-decoration: none;
  font-weight: bold;
  list-style: none;
}
.footer{
  position: fixed;
  bottom:0;
  width:100%

}
.active-menu{
  color:red;
  text-shadow: 1px 1px 1px whitesmoke;
}
.mobile-menu-btn{
  position: absolute;
  right:0;
}
.mobile-menu{
  height: 200px;
  width: 150px;
  display: inline-block;
  background: #c829cd;
  list-style-type: none;
  line-height: 40px;
  position: absolute;
  top: 53px;
  transition: left 1s;
  padding: 20px;
  
}
.mobile-menu > li{
  letter-spacing: 5px;
  font-weight: bold;
}
.close-btn{
  position: absolute;
    right: 0;
    top: -10px;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    text-shadow:1px 1px 1px wheat;
}
